{% extends 'layout/basic.html' %}

{% block title %}Упражнения{% endblock %}
{% block menu_item_exercises %} active{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-large">
        <ul class="uk-breadcrumb uk-margin-remove">
            <li><span>Упражнения</span></li>
        </ul>
        <a class="uk-button uk-button-default" href="{% url "core:trener:create_exercise" %}">Создать</a>
    </div>
    {% if not object_list %}
        <h1>Записей нет</h1>
    {% endif %}
{% endblock %}