{% extends 'layout/basic.html' %}

{% block title %}Упражнения{% endblock %}
{% block menu_item_exercises %} active{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-between uk-flex-middle">
        <ul class="uk-breadcrumb uk-margin-remove">
            <li><span>Упражнения</span></li>
        </ul>
        <a class="uk-button uk-button-default" href="{% url "core:trener:create-exercise" %}">Создать</a>
    </div>
    {% if not object_list %}
        <h1>Записей нет</h1>
        {% else %}
        <h1 class="uk-text-left">Список упражнений</h1>
    {% endif %}
    <div class="uk-padding-large uk-flex uk-flex-wrap uk-flex-center">
        {% for exercise in object_list %}
            {% include 'exercise/card.html' with exercise=exercise %}
        {% endfor %}
    </div>
{% endblock %}