{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include 'layout/uikit_css.html' %}
    {% block main_css %}
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock %}
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
    <header class="header uk-background-primary tm-navbar-container uk-sticky uk-sticky-fixed">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo uk-light" href="{% url "core:main" %}">Logo</a>
                </div>
                <div class="uk-navbar-right">
                    <a href="{% url "core:logout" %}" class="uk-light uk-inline"><span uk-icon="icon: sign-out"></span><span class="uk-margin-small-left">Выйти</span></a>
                </div>
            </nav>
        </div>
        {% comment %}<div class="uk-panel uk-padding uk-background-primary uk-light">
            <a class="uk-logo" href="#">Logo</a>
        </div>{% endcomment %}
    </header>
    <main>
        <div class="sidebar">
            <h2 class="sidebar__title">Меню</h2>
            <nav class="sidebar__menu">
                <ul class="menu">
                    <li class="menu__item{% block menu_item_exercises %}{% endblock %}"><a href="{% url "core:trener:exercises" %}">Упражнения</a></li>
                </ul>
            </nav>
        </div>
        <div class="content uk-text-center">
            <div class="uk-padding-large">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </main>

</body>

    {% include 'layout/uikit_js.html' %}

    {% block main_js %}
    {% endblock %}

</html>