:root {
    --sidebar-width: 200px;
    --sidebar-padding: 40px;
}

.login-form {
    max-width: 250px;
}

.sidebar {
    padding: var(--sidebar-padding);
    border-right: 1px solid #d2d1d1;
    position: fixed;
    width: var(--sidebar-width);
    top: 80px;
    bottom: 0;
    overflow: auto;
}

.sidebar__title {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d2d1d1;
}

.sidebar__menu ul {
    list-style-type: none;
    padding: 0;
}

.menu__item a{
    color: #d2d1d1;
    text-decoration: none;
}

.menu__item a:hover {
    color: #8d8d8d;
}

.menu__item.active a {
    color: #080808;
    position: relative;
}

.menu__item.active a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 10px;
    border-top: 1px solid #1e87f0;
}


.content {
    margin-left: calc(var(--sidebar-width) + var(--sidebar-padding)*2);
    width: calc(100% - var(--sidebar-width) - var(--sidebar-padding)*2);
    margin-top: 80px;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.exercise-card {
    width: 450px;
}




